<p>sickness-disease-info works!</p>

<p> Please fill out the information listed below to the best of your ability.
    This form will allow the doctor to perform a more accurate diagnosis.</p>
<br>

<label for="first-name">First Name: </label>
<input id="first-name" type="text" formControlName="firstName" class="form-control">

<label for="last-name">Last Name: </label>
<input id="last-name" type="text" formControlName="lastName" class="form-control">

<label for="dob">Date of Birth: </label>
<input id="dob" type="text" formControlName="dob" class="form-control">

<h4>Pre-Exsisting Condtions</h4>
<p> Please select yes or no if these conditions apply to you:</p>

<label for="Asthma">Asthma: </label>
<select id="Asthma" type="text" formControlName="Asthma" class="form-control">
  <option value="Yes">Single</option>
  <option value="No">Single</option>
  </select>

<label for="Migraine">Migraine: </label>
<select id="Migraine" type="text" formControlName="Migraine" class="form-control">
  <option value="Yes">Single</option>
  <option value="No">Single</option>
  </select>

<label for="Pregnancy">Are you or could you be pregnant: </label>
<select id="Pregnancy" type="text" formControlName="Pregnancy" class="form-control">
  <option value="Yes">Single</option>
  <option value="No">Single</option>
  </select>

<label for="HeartDisease">Heart Disease: </label>
<select id="HeartDisease" type="text" formControlName="HeartDisease" class="form-control">
  <option value="Yes">Single</option>
  <option value="No">Single</option>
  </select>

<label for="BloodPressure">High Blood Pressure: </label>
<select id="BloodPressure" type="text" formControlName="BloodPressure" class="form-control">
  <option value="Yes">Single</option>
  <option value="No">Single</option>
  </select>
