<br>
<br>
<br>
<br>
<br>
<div class="col-lg-6 offset-lg-3 ">
    <h1> Welcome to the Patient Access Portal!</h1>
    <div>
    <p>Welcome to Patient Access Portal, Your Medical Home on the Web
    With the Patient Access Portal, you can connect with your doctor through a convenient, safe and secure environment.</p>

    <p>The PAP community may use the Patient Access Portal to book COVID-19 vaccination appointments, 
        find information about COVID-19 testing, complete requirements for the federal contractor executive order, 
        complete student vaccine requirements and book appointments for student health services. 
        If you experience any problems accessing the Patient Portal, email patientaccess@kennesaw.edu from your Kennesaw State 
        email and provide a short description of the problem.</p>
    
    <h3>New Patients</h3>

    <p>For your convenience, you may complete new patient forms in advance online.
        Please select patient info from the options above, fill them out completely and bring 
        any other neccesary thing list on the page with you to your appointment.</p>

    <h3>What to Expect</h3>
    <h5>Before Your Visit</h5>
    <ul>
        <li>Make a note of your symptoms, including the order in which the symptoms appeared, 
            as well as anything that makes them better or worse.</li>
        <li>Make a note of your temperature if you have measured with a thermometer at home.</li>
        <li>Bring a current list of all medications you are currently taking, including prescriptions, 
            over-the-counter drugs, herbal products and vitamins.</li>
        <li>Know your personal and family medical history, including surgeries, serious illnesses, etc.</li>
        <li>Evaluate your lifestyle habits, including eating and drinking habits, as well as how much you sleep or exercise.</li>
        <li>Make a note of any other health concerns about which you may want to speak with your physician.</li>
    </ul>

    <h5>During Your Visit</h5>
    <ul>
        <li>Review the items listed above with your physician.</li>
        <li>Ask your physician questions, including what he/she thinks the diagnosis/problem may be, as well as what tests, 
            if necessary, are needed.</li>
        <li>Make sure that you obtain a clear understanding on what your role is in treating your condition, as well as what 
            you can do in the future to prevent any reoccurrences.</li>
        <li>Find out if a follow-up appointment with your physician is required, or if you should be referred to another physician or specialist.</li>
        <li>Make sure you understand any possible side effects of any of the medications your physician prescribes during your office visit.</li>
    </ul>

    <h5>After Your Visit</h5>
    <ul>
        <li>Follow your physician's advice.</li>
        <li>If you don't understand any of the instructions, don't hesitate to call your physician's office for clarification.</li>
        <li>If you begin to feel worse or experience side effects from any prescribed medications, contact your physician's office immediately. 
            In urgent matters, do not hesitate to call 911.</li>
        <li>If you are scheduled for a follow-up visit, make sure to keep your appointment.</li>
    </ul>

     
    <h3>Possible Risks/Complications</h3>

    <p>A new patient exam consists of routine tests and examinations, all of which are not expected to cause any pain.
    Some of them may be slightly uncomfortable at the most. All tests are also guaranteed safe for any patient, 
    regardless of age or health condition.</p>

        <p>Some patients may see new patient exams as stressful, uncomfortable, or awkward, which is understandable as they 
            will be meeting a new doctor and will be expected to divulge personal and private information about their health. 
            However, this is a vital step towards proper health maintenance or treatment, and may result in finding a doctor 
            who will serve as the patient’s primary care provider. </p>

    <h3>Payment Policy/Information</h3>
    <p>Due to recent changes in healthcare system, some patients have questions regarding patient and 
        insurance responsibility for services rendered. Our rates are representative of the usual and 
        customary charges for our area.You will have to call and make a payment or make a payment 
        on the other online system.
    </p>

    <h3>Privacy Policy</h3>
        <p>We are committed to protecting your personal information. The data entered into the 
            Patient Access Portal is private. When needed, the system is securely maintained by industry-standard
            SSL (secure socket layer) encryption and decryption technology, preventing others from accessing 
            your personal information.</p>
    </div>
</div>

<br>
<br>
<br>
<p></p>